/*Default mobile*/
/* body {
    display: grid;
    min-height: 100%;
} */

.text {
    width: 16px;
    height: 16px;
    margin: auto;
    padding: auto;
}

p {
    border: none;
    width: 16px;
    margin: auto;
    text-align: center;
}
/*Desktop view*/
/* @media only screen and (min-width: 767px) {

body { 
    width: 960px;
}

} */
