@media screen and (max-width: 767px) {
    #all {
        width: 480px;
        height: auto;
        margin: auto;
        border: black 1px solid;
    }

    #a {
        width: 478px;
        height: 73px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
        line-height: 73px;
    }

    #b {
        width: 478px;
        height: 148px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
        line-height: 148px
    }

    #c, #d {
        width: 478px;
        height: 123px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
        line-height: 123px;
    }

    section {
        width: 480px;
        height: 500px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
    }

    #e, #f, #g, #h {
        width: 238px;
        height: 248px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
        line-height: 248px;
    }

    #e {
        float: left;
    }

    #f {
        float: right;
    }
    
    #g {
        float: left;
    }

    #h {
        float: right;
    }

    #i {
        width: 478px;
        height: 78px;
        margin: 0;
        padding: 0;
        border: black 1px solid;
        line-height: 78px;
    }
}

@media screen and (min-width: 768px) {
    
    #all {
        width: 960px;
        height: auto;
        margin: auto;
    }

    #a {
        width: 958px;
        height: 98px;
        margin: 0;
        padding: 0;
    }

    #b {
        width: 198px;
        height: 598px;
        margin: 0;
        padding: 0;
    }

    #c {
        width: 378px;
        height: 198px;
        margin: 0;
        padding: 0;
    }

    #d {
        width: 378px;
        height: 198px;
        margin: 0;
        padding: 0;
    }

    #e {
        width: 188px;
        height: 248px;
        margin: 0;
        padding
    }

}